{% extends "base.html" %}

{% block title %}About - Sales Analysis{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>About Timma Sales Analysis</h1>
            <p class="lead">This is a simple web application built with Flask, Pandas and Matplotlib</p>
            <p>Sales Analysis is a comprehensive platform designed to help businesses track, analyze, and visualize their sales data. With our intuitive interface and powerful analytics tools, you can gain valuable insights into your sales performance and make data-driven decisions.</p>
            <img src="{{ url_for('static', filename='assets/about.png') }}" alt="Sales Analysis Overview" class="img-fluid w-75 mt-3">
        </div>
    </div>
{% endblock %}