{% extends "base.html" %}

{% block title %}About | Sales{% endblock %}

{% block content %}

<div class="text-center">
		<h1>About Sales Galore</h1>
		<p class="lead">This is a simple web application built with Flask.</p>
		<p>This application is for managing sales data using basic CRUD (Create, Read, Update, Delete) operations in a Flask application. You'll leverage the Pandas library to handle data processing and sending it to HTML forms.</p>
		<p>It's a simple application that demonstrates how to use Flask, Pandas, and Bootstrap to create a web application.</p>
</div>

{% endblock %}